* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: rgb(31, 65, 6);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(235, 249, 221);
}

h1 {
  margin: 30px;
}

.locations {
  height: 470px;
  width: 470px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.location {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 40px;
  background-color: rgb(213, 255, 171);
  border: 1px solid rgb(235, 249, 221);
  margin: 2px;
}
.voteCount {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location button {
  color: white;
  background-color: rgb(59, 120, 15);
  height: 30px;
  width: 50px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}
.location button:hover {
  background-color: rgb(31, 65, 6);
}
